<div class="row">
  <div class="col-12">
  <h1> {{_title}} </h1>

  </div>
</div>
<div class="row" [hidden]="_addEditMode">
  <common-list [entities]="entities" [columns]="_columns" [hiddenColumns]="_hiddenColumns" (showform)="ShowForm($event)" (delete)="ConfirmDelete($event)" #list></common-list> 
</div> 
<div class="row" [hidden]="!_addEditMode">
  <div class="col-6">
      <commonform [entity]="_entity" [columns]="_columns" [hidden]="_hiddenColumns"  (Save)="Save($event)" (Cancel)="Cancel()"></commonform>


  </div>

</div>
