<!--The content below is only a placeholder and can be replaced.-->
  <!-- <li *ngFor="let item of items | async">
     {{ item | json }}
  </li> -->
  <div class="container"> 
      <table class="row table "> 
          <tr >
              <th> author</th> 
              <th> country</th> 
              <th> author</th> 
            
           </tr>
     <tr *ngFor="let item of items | async">
        <td> {{ item.author }}</td> 
        <td> {{ item.country }}</td> 
        <td> {{ item.author }}</td> 
      
     </tr>
      </table>

  </div>

  

