<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Book Library</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link"  routerLink='/home'routerLinkActive>Home</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink='/books'routerLinkActive>Books
        </a>
      </li>
      <li class="nav-item ">
          <a class="nav-link" routerLink='/managebooks'routerLinkActive>Manage books
          </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink='/user/manageuser'routerLinkActive>Manage user
          </a>
        </li>
      <li class="nav-item">
        <a class="nav-link "routerLink='/tasks' routerLinkActive>Task</a>
      </li>
      <li class="nav-item" *ngIf="authService._authenticated">
          <a class="nav-link"  routerLink='/user/profile' routerLinkActive>Profile</a>
        </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->

  </div>
  <ul class="navbar-nav mr-auto">
   
      <li class="nav-item " *ngIf="!authService._authenticated">
        <a class="nav-link"  routerLink='/login'routerLinkActive>Login
        </a>
      </li>
      <li class="nav-item " *ngIf="authService._authenticated">
          <a class="nav-link" (click)="Logout()"   >Logout
          </a>
        </li>
      <li class="nav-item " *ngIf="authService._authenticated">
          Wellcome {{userName}}
        </li>
      </ul>
</nav>
